
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.table{
    margin-top: 20px;
background-color: rgb(180, 207, 230);
}
.nav-bar{
    background-color: bisque;
    text-align: end;
}

.required{
    color: rgb(187, 25, 25);
    font-weight: bold;
}

h5{
    color: black;
    font-weight: bold;
    font-style: italic;
}
.modal-header{
    background-color: rgb(180, 207, 230);
}