* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

body {
    background-image: url('/asset/img/bgImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrapper {
    max-width: 450px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15%;
    box-shadow: 10px 10px 10px #cbced1, -10px -10px 10px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        5px 5px 5px #a7aaa7,
        -5px -5px 5px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn { 
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #19229e;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #19229e;
    font-weight: bold;
}
/* ---------------------Hover effect---------------- */
.wrapper .btn:hover {
    background-color: #cee0e9;
}

.wrapper a:hover {
    color: #c40b0b;
}

.logo img {
    transition: transform .4s ease-in-out;
  }
  
  /* The Transformation */
  .logo:hover img {
    transform: scale(1.3) rotate(370deg);
  }
/* -------------User Dashboard---------------- */

.table{
    margin-top: 20px;
background-color: rgb(180, 207, 230);
}
.nav-bar{
    background-color: bisque;
    text-align: end;
}

.required{
    color: rgb(187, 25, 25);
    font-weight: bold;
}

h5{
    color: rgb(187, 20, 20);
    font-weight: bold;
    font-style: italic;
}
.modal-header{
    background-color: rgb(180, 207, 230);
}
.action-btn{
    border-radius: 50%;
}
